<footer class="footer">
    <hr/>
    <div class="content has-text-centered">
        <p>
            der_kuba - 2021-2024 -
            <a href="{{ '/content/impressum.html' | url }}">Impressum</a>
            -
            <a href="{{ '/content/datenschutz.html' | url }}">Datenschutzerklärung</a>
        </p>
    </div>
</footer>