---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="section" {% if templateClass %} class="{{ templateClass }}" {% endif %}>
  <div class="container">
    <div class="columns is-half-desktop">
      <div class="column is-9">
        {{ content | safe }}
        <a href="/posts">weitere Posts befinden sich unter Archive</a>
      </div>
      <div class="column is-3">
        <div class="panel">
          <p class="panel-heading">
            Kategorien
          </p>
          <div class="panel-block ">
            <div class="content categorie-item categorized-tags-container">
              {% include "layouts/components/categorized-tags.njk" %}
            </div>
          </div>
        </div>
        <!-- panel -->
      </div>
    </div>
  </div>
</section>