<ul reversed class="postlist">
  {% for post in postslist | reverse %}
    <li class="post-list__item{% if post.url == url %} post-list__item--active{% endif %}">
      <h2 class="title is-4">
        <a href="{{ post.url | url }}">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </a>
      </h2>
      <div class="post-meta">
        <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <span class="post-meta-separator">•</span>
        <span class="post-reading-time">{{ post.templateContent | striptags | wordcount | readingTime }}</span>
        <span class="post-meta-separator">•</span>
        <span class="post-word-count">{{ post.templateContent | striptags | wordcount }} Wörter</span>
      </div>
      <div class="tag-list">
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <span class="tag {% badge loop.index-1 %}{{ index }}{% endbadge %}">
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
          </span>
        {% endfor %}
      </div>
      <div class="post-excerpt">
        {% excerpt post %}
      </div>
      <a href="{{ post.url }}" class="read-more-link">Weiterlesen →</a>
    </li>
  {% endfor %}
</ul>