---
layout: layouts/components/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.allPostsExceptEnglish.length | min(10) %}
{% set postslist = collections.allPostsExceptEnglish | head(-10) %}
{% set postslistCounter = collections.allPostsExceptEnglish | length %}
{% include "layouts/components/postslist.njk" %}