---
layout: layouts/base.njk
---

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <h1 class="title is-3">{{ title }}</h1>
        <div class="post-detail__tags">
          <h3 class="subtitle is-6">
            <time datetime="{{ page.date | htmlDateString }}">
              {{ page.date | readableDate }}
            </time>
          </h3>
          <div class="tags">
            {%- for tag in tags | filterTagList -%}
              {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
              <a href="{{ tagUrl | url }}" class="post-tag">
                <span class="tag {% badge loop.index-1 %}{{ index }}{% endbadge %}">
                  {{ tag | title }}
                </span>
              </a>
            {%- endfor %}
          </div>
        </div>
        <div class="content post_detail__content">
          <div class="language-hint">
            {% if lang == "de" %}
              <a href="{{ alternate_url }}">Read in English <img width="25" src="{{ '/assets/images/gb.png' | url }}"/></a>
            {% elseif lang == "en" %}
              <a href="{{ alternate_url }}">Auf Deutsch lesen <img width="25" src="{{ '/assets/images/de.png' | url }}"/></a>
            {% endif %}
          </div>
          {{ content | safe }}
          {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
          {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
          {%- if nextPost or previousPost %}
            <hr>
              <ul class="post-navigation">
                {%- if nextPost %}
                  <li>Nächster Artikel:
                    <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
                  </li>
                {% endif %}
                {%- if previousPost %}
                  <li>Vorheriger Artikel:
                    <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
                  </li>
                {% endif %}
              </ul>
            {%- endif %}
          </div>
        </div>
      </div>
    </div>
  </section>